[submodule "vendor/github.com/go-pg/pg"]
	path = vendor/github.com/go-pg/pg
	url = https://github.com/go-pg/pg
[submodule "vendor/github.com/jinzhu/inflection"]
	path = vendor/github.com/jinzhu/inflection
	url = https://github.com/jinzhu/inflection
[submodule "vendor/github.com/gorilla/mux"]
	path = vendor/github.com/gorilla/mux
	url = https://github.com/gorilla/mux
[submodule "vendor/github.com/minio/minio-go"]
	path = vendor/github.com/minio/minio-go
	url = https://github.com/minio/minio-go
[submodule "vendor/github.com/go-ini/ini"]
	path = vendor/github.com/go-ini/ini
	url = https://github.com/go-ini/ini
[submodule "vendor/github.com/minio/go-homedir"]
	path = vendor/github.com/minio/go-homedir
	url = https://github.com/minio/go-homedir
[submodule "vendor/github.com/op/go-logging"]
	path = vendor/github.com/op/go-logging
	url = https://github.com/op/go-logging
